<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Form</title>
	<meta charset="UTF-8">

</head>
<body>
	<form action="" method="post">
		<p>Login</p>

		<div>
			{{ form.username.label }}
			{{ form.username(type="text") }}
		</div>

		<div>
			{{ form.password.label }}
			{{ form.password(type="text") }}
		</div>

		<div>
			{{ form.submit(class="login100-form-btn") }}
		</div>

	</form>
	<div>
		<small >
			Don't have an account? <a href="{{ url_for('register') }}">Register</a>
		</small>
	</div>
</body>
</html>
