<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register Form</title>
	<meta charset="UTF-8">

</head>
<body>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p> Register </p>
		<div>
			{{ form.username.label }}
			{{ form.username(class="input100", type="text") }}
			{% if form.username.errors %}
				{% for error in form.username.errors %}
					<span> {{ error }} </span>
				{% endfor %}
			{% endif %}
		</div>

		<div>
			{{ form.email.label }}
			{{ form.email(class="input100", type="text") }}
			{% if form.email.errors %}
				{% for error in form.email.errors %}
					<span> {{ error }} </span>
				{% endfor %}
			{% endif %}
		</div>

		<div>
			{{ form.password.label }}
			{{ form.password(class="input100", type="text") }}
			{% if form.password.errors %}
				{% for error in form.password.errors %}
					<span> {{ error }} </span>
				{% endfor %}
			{% endif %}
		</div>

		<div >
			{{ form.submit(class="login100-form-btn") }}
		</div>

	</form>
</body>
</html>
